<section>
  <article>
    <h2>
      Google removed over 5.2 billion ads in 2022, releases annual Ads Safety
      Report
    </h2>

    <div class="content">
      <img
        src="https://images.indianexpress.com/2023/03/google-featured-reuters-2.jpg"
        alt="img"
      />
      <p>
        Google on Wednesday announced its Ad Safety Report 2022. The tech
        behemoth said that it removed 5.2 billion ads, restricted over 4.3
        million ads, and suspended over 6.7 million advertiser accounts in 2022.
        In its report, Google stated that it has blocked or restricted ads from
        serving over 1.57 billion publisher pages across over 1,43,000 publisher
        sites compared to 63,000 in 2021. The 5.2 billion ads that were removed
        by Google were due to policy violations such as abusing the ad network,
        trademark violations, legal requirements, misrepresentation, gambling
        and games, adult content, inappropriate content, dangerous products or
        services, sensitive events (war in Ukraine), enabling dishonest
        behaviour, alcohol, counterfeit goods, etc. The 5.2 billion ads that
        were removed by Google were due to policy violations such as abusing the
        ad network, trademark violations, legal requirements, misrepresentation,
        gambling and games, adult content, inappropriate content, dangerous
        products or services, sensitive events (war in Ukraine), enabling
        dishonest behaviour, alcohol, counterfeit goods, etc.
      </p>
    </div>
  </article>

  <article>
    <h2>
      Meta verified blue tick for Facebook and Instagram to cost Rs 1,450 a
      month on mobile
    </h2>

    <div class="content">
      <img
        src="https://images.indianexpress.com/2023/03/meta-verified-india-price.jpg"
        alt="img"
      />
      <p>
        Following Elon Musk-owned Twitter’s footprint, social media behemoth
        Meta recently enabled users to get their Meta accounts (Facebook and
        Instagram) verified with a blue tick for $14.99 a month in the US. Now,
        according to reports, Meta Verified will cost a whopping Rs 1,450/month
        on mobile devices and the same will cost Rs 1,099/month if subscribed
        from a web browser. Just like the Twitter Blue subscription, Meta
        verified will add a blue checkmark to Instagram and Facebook accounts.
        Right now, Meta verified is currently in the beta phase, and interested
        users have to join the waiting list to get their Facebook and Instagram
        accounts verified. Now, according to reports, Meta Verified will cost a
        whopping Rs 1,450/month on mobile devices and the same will cost Rs
        1,099/month if subscribed from a web browser. Just like the Twitter Blue
        subscription, Meta verified will add a blue checkmark to Instagram and
        Facebook accounts. Right now, Meta verified is currently in the beta
        phase, and interested users have to join the waiting list to get their
        Facebook and Instagram accounts verified.
      </p>
    </div>
  </article>

  <article>
    <h2>ChatGPT plugins decoded: Why you should get on the waitlist</h2>

    <div class="content">
      <img
        src="https://images.indianexpress.com/2023/03/ChatGPT-Plugins-.jpg"
        alt="img"
      />
      <p>
        Artificial Intelligence is taking over every aspect of the online
        experience. Last week, billionaire philanthropist Bill Gates shared his
        thoughts on the immense potential of AI to reduce some of the worst
        inequities. He went on to list how AI will revolutionise healthcare,
        education, and various other domains in his blog. A day later, OpenAI
        announced that it was endowing its AI chatbot with the ability to
        harness the power of the internet. ChatGPT, launched in November 2022,
        quickly became a phenomenon owing to its comprehensive and humanish
        responses to prompts. This has also made it the most used application in
        the shortest span of time in the history of the internet. The power of
        the internet has been facilitated via a set of plugins that were
        introduced by OpenAI on March 23. The San Francisco-based company stated
        that it has gradually begun rolling out plugins for ChatGPT in line with
        its iterative deployment’ philosophy. This, according to the company,
        was to assess the real-world use, impact, and safety alignment
        challenges faced by the sensational chatbot.
      </p>
    </div>
  </article>
</section>
