<div class="privacy">
<h2>Privacy</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatum
  facilis velit, magnam, dicta tempora hic pariatur et rerum sequi incidunt?
  Tempora inventore nisi repudiandae earum harum laudantium ab at, animi itaque
  saepe blanditiis quia vitae quisquam, neque rerum! Pariatur velit
  reprehenderit sint saepe quaerat doloremque eveniet, sit veritatis porro
  cupiditate voluptatibus eius harum reiciendis eos nemo repellendus veniam
  maiores voluptatem hic impedit, assumenda eligendi cum. Possimus facere
  suscipit aspernatur corporis, tempora, ipsa dicta perspiciatis harum dolores
  quam velit saepe explicabo maiores, reprehenderit magni quaerat neque
  perferendis consectetur laudantium voluptate magnam dignissimos vel rerum rem?
  Explicabo incidunt atque dolorum hic odio, repellat sed. Tempore illum quia
  reiciendis ratione hic dolore maxime molestiae iure cupiditate officia
  voluptates eaque ut est, illo reprehenderit pariatur, libero dolorem, error
  mollitia quo in et ad fuga animi. Id aperiam accusantium veritatis. Fugit
  quasi corporis quod numquam, vel ex consectetur alias, incidunt, iusto eius
  quidem distinctio?
</p>
</div>